html body #master-key-prompt-save {
  position: fixed;
  top: 10px;
  left: 10px;
  background: rgba(0,0,0,0.7);
  color: #fff;
  font-family: Arial, sans-serif ;
  font-size: 14px;
  line-height: 20px;
  padding: 8px 12px;
  border-radius: 10px;
  z-index: 10000;
}
html body #master-key-prompt-save .master-key-text {
  margin-bottom: 10px;
}
html body #master-key-prompt-save .master-key-btn {
  display: inline-block;
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
  background: #337AB7;
  color: #fff;
  text-align: center;
  padding: 6px 12px;
  height: 34px;
  line-height: 22px;
  margin: 5px 0 0;
  cursor: pointer;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  transition: background 0.2s ease;
}
html body #master-key-prompt-save .master-key-btn:hover {
  background: #286090;
}
html body #master-key-prompt-save .master-key-btn-no {
  margin-left: 3px;
  color: #FFF;
  background: #D9534F;
  border-color: #D43F3A;
}
html body #master-key-prompt-save .master-key-btn-no:hover {
  background: #C9302C;
  border-color: #AC2925;
}