html {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  background: #1f1f1f;
  color: #fff;
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 1.3;
}

#main {
  width: 250px;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

.view {
  box-sizing: border-box;
  padding: 20px;
  display: none;
}
.view.active {
  display: block;
}

label {
  display: block;
  margin-bottom: 3px;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.form-group {
  margin: 5px 0;
}

.form-text {
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 34px;
  padding: 6px 8px;
  color: #fff;
  background: #333;
  border: 1px solid #555;
  transition: border-color 0.15s ease-in-out 0s;
}
.form-text:focus {
  border-color: #666;
}
.form-text.error {
  border-color: #A94442;
}
.form-text.error:focus {
  border-color: #843534;
}

.help {
  position: relative;
  display: inline-block;
  float: right;
}
.help:before {
  content: "?";
  display: inline-block;
  border-radius: 50%;
  line-height: 16px;
  font-size: 12px;
  width: 16px;
  text-align: center;
  font-weight: bold;
  background: #337AB7;
  color: #fff;
  cursor: default;
  transition: background 0.2s ease;
}
.help:hover:before {
  background: #286090;;
}
.help > .text {
  position: absolute;
  top: 100%;
  margin-top: 3px;
  right: -10px;
  width: 210px;
  padding: 8px;
  font-size: 12px;
  color: #666;
  z-index: 2;
  background: #f4f4f4;
  box-shadow: 0 0 4px rgba(0,0,0,0.3);
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s ease, visibility 0s 0.2s linear;
}
.help:hover > .text {
  opacity: 1;
  visibility: visible;
  transition-delay: 0;
}

.btn {
  display: block;
  width: 100%;
  border: none;
  box-sizing: border-box;
  background: #337AB7;
  color: #fff;
  text-align: center;
  padding: 6px 12px;
  height: 34px;
  line-height: 22px;
  margin: 5px 0 0;
  cursor: pointer;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  transition: background 0.2s ease;
}
.btn:hover {
  background: #509CDD;
}
.btn-danger {
  color: #FFF;
  background: #D9534F;
  border-color: #D43F3A;
}
.btn-danger:hover {
  background: #C9302C;
  border-color: #AC2925;
}

.btn-back {
  margin-bottom: 10px;
  color: #999;
  text-transform: uppercase;
  font-size: 11px;
  cursor: pointer;
}

.copy .form-text {
  float: left;
  width: 62%;
}
.btn-copy {
  float: right;
  width: 35%;
  margin: 0;
}

.msg {
  display: none;
  margin-top: 2px;
  padding: 6px 12px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.msg-error {
  color: #A94442;
  background-color: #F2DEDE;
  border-color: #EBCCD1;
}
.msg-warning {
  color: #8A6D3B;
  background-color: #FCF8E3;
  border-color: #FAEBCC;
}
.msg-success {
  color: #3C763D;
  background-color: #DFF0D8;
  border-color: #D6E9C6;
}
.msg-info,
.msg-loading {
  color: #31708F;
  background-color: #D9EDF7;
  border-color: #BCE8F1;
}
.msg-loading:after {
  content: "";
  display: block;
  float: right;
  width: 1px;
  height: 12px;
  margin-top: 3px;
  background: #333;
  animation: spin 1s forwards infinite;
}
.msg.active {
  display: block;
}

.inactive {
  display: none;
}
.hidden {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s ease, visibility 0s 0.2s linear;
}
.far-away {
  position: absolute;
  top: -1000px;
}

#btn-key-clear {
  display: none;
}
.view-default.key-set #btn-key-clear {
  display: block;
}

@keyframes spin {
  0%   { transform: rotateZ(0deg); }
  50%  { transform: rotateZ(180deg); }
  100% { transform: rotateZ(360deg); }
}